Pipeline-Controller.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "ForEach Sequence",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "usp_PipelineSequence",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('usp_PipelineSequence').output.resultsets[0].rows",
            "type": "Expression"
          },
          "isSequential": true,
          "activities": [
            {
              "name": "If Continue",
              "type": "IfCondition",
              "dependsOn": [],
              "typeProperties": {
                "expression": {
                  "value": "@variables('Continue')",
                  "type": "Expression"
                },
                "ifFalseActivities": [],
                "ifTrueActivities": [
                  {
                    "name": "Pipeline-Worker",
                    "type": "InvokePipeline",
                    "dependsOn": [],
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureOutput": false,
                      "secureInput": false
                    },
                    "typeProperties": {
                      "waitOnCompletion": true,
                      "operationType": "InvokeFabricPipeline",
                      "pipelineId": "8e5587b8-b4e9-465b-abba-94e1c1ef92e3",
                      "workspaceId": "9b8a6500-5ccb-49a9-885b-b5b081efed75",
                      "parameters": {
                        "PackageGroup": {
                          "value": "@pipeline().parameters.PackageGroup",
                          "type": "Expression"
                        },
                        "PipelineID": {
                          "value": "@pipeline().parameters.PipelineID",
                          "type": "Expression"
                        },
                        "PipelineSequence": {
                          "value": "@item().PipelineSequence",
                          "type": "Expression"
                        }
                      }
                    },
                    "externalReferences": {
                      "connection": "8bb55f8d-a23b-4d7a-9b1e-f75030d20acb"
                    }
                  }
                ]
              }
            },
            {
              "name": "Set Continue",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "If Continue",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "Continue",
                "value": {
                  "value": "@item().ContinueOnError",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Fail1",
              "type": "Fail",
              "dependsOn": [
                {
                  "activity": "Set Continue",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "message": {
                  "value": "@activity('Pipeline-Worker').output.pipelineReturnValue",
                  "type": "Expression"
                },
                "errorCode": {
                  "value": "001",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "usp_PipelineSequence",
        "type": "Script",
        "dependsOn": [
          {
            "activity": "Get Env Variables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.1:00:00",
          "retry": 1,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedService": {
          "name": "e206b28b_58d7_497e_a650_b88647a83d6e",
          "properties": {
            "annotations": [],
            "type": "DataWarehouse",
            "typeProperties": {
              "endpoint": "@activity('Get Env Variables').output.pipelineReturnValue.MetaServerName",
              "artifactId": "@activity('Get Env Variables').output.pipelineReturnValue.MetaDatabaseName",
              "workspaceId": "@activity('Get Env Variables').output.pipelineReturnValue.WorkspaceID"
            }
          }
        },
        "typeProperties": {
          "scripts": [
            {
              "parameters": [
                {
                  "name": "PackageGroup",
                  "type": "String",
                  "value": {
                    "value": "@pipeline().parameters.PackageGroup",
                    "type": "Expression"
                  },
                  "direction": "Input"
                },
                {
                  "name": "Stage",
                  "type": "String",
                  "value": {
                    "value": "@pipeline().parameters.Stage",
                    "type": "Expression"
                  },
                  "direction": "Input"
                }
              ],
              "type": "Query",
              "text": {
                "value": "config.usp_PipelineSequence @PackageGroup,@Stage",
                "type": "Expression"
              }
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        }
      },
      {
        "name": "Get Env Variables",
        "type": "ExecutePipeline",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [],
        "policy": {
          "secureInput": false
        },
        "typeProperties": {
          "waitOnCompletion": true,
          "parameters": {}
        }
      }
    ],
    "concurrency": 8,
    "parameters": {
      "PackageGroup": {
        "type": "string",
        "defaultValue": "AW"
      },
      "Stage": {
        "type": "string",
        "defaultValue": "ALL"
      },
      "PipelineID": {
        "type": "string",
        "defaultValue": "-1"
      }
    },
    "variables": {
      "Continue": {
        "type": "Boolean",
        "defaultValue": true
      }
    }
  }
}