Workspaces/DWA/DWA/Pipeline-Worker.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "ForEach",
        "typeProperties": {
          "batchCount": 8,
          "items": {
            "value": "@activity('usp_PipelineQueue').output.resultsets[0].rows",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Switch",
              "typeProperties": {
                "on": {
                  "value": "@item().TemplateType",
                  "type": "Expression"
                },
                "cases": [
                  {
                    "value": "Notebook",
                    "activities": [
                      {
                        "type": "TridentNotebook",
                        "typeProperties": {
                          "notebookId": {
                            "value": "@item().TemplateID",
                            "type": "Expression"
                          },
                          "workspaceId": {
                            "value": "@coalesce( item().TemplateWorkspaceID, pipeline().DataFactory)",
                            "type": "Expression"
                          },
                          "parameters": {
                            "SourceSettings": {
                              "value": {
                                "value": "@item().SourceSettings",
                                "type": "Expression"
                              },
                              "type": "string"
                            },
                            "TargetSettings": {
                              "value": {
                                "value": "@item().TargetSettings",
                                "type": "Expression"
                              },
                              "type": "string"
                            },
                            "ActivitySettings": {
                              "value": {
                                "value": "@item().ActivitySettings",
                                "type": "Expression"
                              },
                              "type": "string"
                            },
                            "SourceConnectionSettings": {
                              "value": {
                                "value": "@item().SourceConnectionSettings",
                                "type": "Expression"
                              },
                              "type": "string"
                            },
                            "TargetConnectionSettings": {
                              "value": {
                                "value": "@item().TargetConnectionSettings",
                                "type": "Expression"
                              },
                              "type": "string"
                            },
                            "LineageKey": {
                              "value": {
                                "value": "@item().LineageKey",
                                "type": "Expression"
                              },
                              "type": "string"
                            }
                          },
                          "sessionTag": {
                            "value": "@item().SessionTag",
                            "type": "Expression"
                          }
                        },
                        "policy": {
                          "timeout": "0.12:00:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureInput": false,
                          "secureOutput": false
                        },
                        "name": "Notebook",
                        "dependsOn": []
                      }
                    ]
                  },
                  {
                    "value": "Load",
                    "activities": [
                      {
                        "type": "SqlServerStoredProcedure",
                        "typeProperties": {
                          "storedProcedureName": "dwa.usp_TableLoad",
                          "storedProcedureParameters": {
                            "TableID": {
                              "value": {
                                "value": "@item().TableID",
                                "type": "Expression"
                              },
                              "type": "Int32"
                            }
                          }
                        },
                        "linkedService": {
                          "name": "7ec2994b_c245_4157_ac90_987c75df9d82",
                          "properties": {
                            "type": "DataWarehouse",
                            "typeProperties": {
                              "artifactId": "@activity('Get Env Variables').output.pipelineReturnValue.DWDatabaseName",
                              "endpoint": "@activity('Get Env Variables').output.pipelineReturnValue.DWServerName",
                              "workspaceId": "@activity('Get Env Variables').output.pipelineReturnValue.WorkSpaceID"
                            },
                            "annotations": []
                          }
                        },
                        "policy": {
                          "timeout": "0.12:00:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureInput": false,
                          "secureOutput": false
                        },
                        "name": "usp_TableLoad",
                        "dependsOn": []
                      }
                    ]
                  },
                  {
                    "value": "DataPipeline",
                    "activities": [
                      {
                        "type": "InvokePipeline",
                        "typeProperties": {
                          "parameters": {
                            "SourceSettings": {
                              "value": "@item().SourceSettings",
                              "type": "Expression"
                            },
                            "TargetSettings": {
                              "value": "@item().TargetSettings",
                              "type": "Expression"
                            },
                            "SourceConnectionSettings": {
                              "value": "@item().SourceConnectionSettings",
                              "type": "Expression"
                            },
                            "TargetConnectionSettings": {
                              "value": "@item().TargetConnectionSettings",
                              "type": "Expression"
                            },
                            "ActivitySettings": {
                              "value": "@item().ActivitySettings",
                              "type": "Expression"
                            }
                          },
                          "waitOnCompletion": true,
                          "workspaceId": {
                            "value": "@coalesce( item().TemplateWorkspaceID, pipeline().DataFactory)",
                            "type": "Expression"
                          },
                          "pipelineId": {
                            "value": "@item().TemplateID",
                            "type": "Expression"
                          },
                          "operationType": "InvokeFabricPipeline"
                        },
                        "externalReferences": {
                          "connection": "e005dbd6-c0f6-40c2-ac3c-4abe06fccbf6"
                        },
                        "policy": {
                          "timeout": "0.12:00:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureInput": false,
                          "secureOutput": false
                        },
                        "name": "DataPipeline",
                        "dependsOn": []
                      }
                    ]
                  }
                ],
                "defaultActivities": [
                  {
                    "type": "Fail",
                    "typeProperties": {
                      "message": {
                        "value": "@{item().TemplateType} not found in switch statement, or @{item().Template} not connected to the Lakehouse or not in config.Artefacts view",
                        "type": "Expression"
                      },
                      "errorCode": "0001"
                    },
                    "name": "Fail1",
                    "dependsOn": []
                  }
                ]
              },
              "name": "Switch1",
              "dependsOn": [
                {
                  "activity": "usp_PipelineStart",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[audit].[usp_PipelineStart]",
                "storedProcedureParameters": {
                  "LineageKey": {
                    "value": {
                      "value": "@item().LineageKey",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "PackageGroup": {
                    "value": {
                      "value": "@pipeline().parameters.PackageGroup",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "ParentRunID": {
                    "value": {
                      "value": "@pipeline()?.TriggeredByPipelineRunId",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "Pipeline": {
                    "value": {
                      "value": "@pipeline().Pipeline",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "PipelineID": {
                    "value": {
                      "value": "@item().PipelineID",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  },
                  "PipelineName": {
                    "value": {
                      "value": "@pipeline().PipelineName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "RunID": {
                    "value": {
                      "value": "@pipeline().RunId",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "WorkspaceID": {
                    "value": {
                      "value": "@pipeline().DataFactory",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  }
                }
              },
              "linkedService": {
                "name": "720de544_a7b9_44c6_a2d2_e22d352a3464",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "@activity('Get Env Variables').output.pipelineReturnValue.MetaDatabaseName",
                    "endpoint": "@activity('Get Env Variables').output.pipelineReturnValue.MetaServerName",
                    "workspaceId": "@activity('Get Env Variables').output.pipelineReturnValue.WorkspaceID"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.1:00:00",
                "retry": 1,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "usp_PipelineStart",
              "dependsOn": []
            },
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[audit].[usp_PipelineEndFailure]",
                "storedProcedureParameters": {
                  "LineageKey": {
                    "value": {
                      "value": "@item().LineageKey",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "ErrorCode": {
                    "value": null,
                    "type": "String"
                  },
                  "ErrorMessage": {
                    "value": null,
                    "type": "String"
                  }
                }
              },
              "linkedService": {
                "name": "e6b1c0d8_47e9_4f7f_b084_8b577586ae10",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "@activity('Get Env Variables').output.pipelineReturnValue.MetaDatabaseName",
                    "endpoint": "@activity('Get Env Variables').output.pipelineReturnValue.MetaServerName",
                    "workspaceId": "@activity('Get Env Variables').output.pipelineReturnValue.WorkspaceID"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "usp_PipelineEndFailure",
              "dependsOn": [
                {
                  "activity": "Switch1",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ]
            },
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[audit].[usp_PipelineEndSuccess]",
                "storedProcedureParameters": {
                  "LineageKey": {
                    "value": {
                      "value": "@item().LineageKey",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  }
                }
              },
              "linkedService": {
                "name": "e6b1c0d8_47e9_4f7f_b084_8b577586ae10",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "@activity('Get Env Variables').output.pipelineReturnValue.MetaDatabaseName",
                    "endpoint": "@activity('Get Env Variables').output.pipelineReturnValue.MetaServerName",
                    "workspaceId": "@activity('Get Env Variables').output.pipelineReturnValue.WorkspaceID"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "usp_PipelineEndSuccess",
              "dependsOn": [
                {
                  "activity": "Switch1",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "ForEach",
        "dependsOn": [
          {
            "activity": "usp_PipelineQueue",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ExecutePipeline",
        "typeProperties": {
          "pipeline": {
            "referenceName": "0b161fb6-be93-ad8e-48c7-d3f479d6132a",
            "type": "PipelineReference"
          },
          "parameters": {},
          "waitOnCompletion": true
        },
        "policy": {
          "secureInput": false
        },
        "name": "Get Env Variables",
        "dependsOn": []
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "config.usp_PipelineQueue @PackageGroup, @PipelineSequence, @PipelineID",
                "type": "Expression"
              },
              "type": "Query",
              "parameters": [
                {
                  "name": "PackageGroup",
                  "type": "String",
                  "value": {
                    "value": "@pipeline().parameters.PackageGroup",
                    "type": "Expression"
                  },
                  "direction": "Input"
                },
                {
                  "name": "PipelineID",
                  "type": "Int32",
                  "value": {
                    "value": "@pipeline().parameters.PipelineID",
                    "type": "Expression"
                  },
                  "direction": "Input"
                },
                {
                  "name": "PipelineSequence",
                  "type": "Int16",
                  "value": {
                    "value": "@pipeline().parameters.PipelineSequence",
                    "type": "Expression"
                  },
                  "direction": "Input"
                }
              ]
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedService": {
          "name": "4f6b9180_d622_4308_9357_038dd3f4a234",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "@activity('Get Env Variables').output.pipelineReturnValue.MetaDatabaseName",
              "endpoint": "@activity('Get Env Variables').output.pipelineReturnValue.MetaServerName",
              "workspaceId": "@activity('Get Env Variables').output.pipelineReturnValue.WorkspaceID"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "usp_PipelineQueue",
        "dependsOn": [
          {
            "activity": "Get Env Variables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "PackageGroup": {
        "type": "String",
        "defaultValue": "AW"
      },
      "PipelineID": {
        "type": "Int",
        "defaultValue": 4
      },
      "PipelineSequence": {
        "type": "Int",
        "defaultValue": -1
      }
    }
  }
}