Workspaces/DWA/DWA/Library/Ingest/Copy-SFTP-Prodata.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "BinarySource",
            "formatSettings": {
              "type": "BinaryReadSettings"
            },
            "storeSettings": {
              "type": "SftpReadSettings",
              "disableChunking": false,
              "recursive": {
                "value": "@if(contains(json(string(pipeline().parameters.SourceSettings)),'recurisve'), bool(json(string(pipeline().parameters.SourceSettings)).recurisve), false)",
                "type": "Expression"
              },
              "wildcardFolderPath": {
                "value": "@json(string(pipeline().parameters.SourceSettings)).directory",
                "type": "Expression"
              },
              "wildcardFileName": {
                "value": "@json(string(pipeline().parameters.SourceSettings)).file",
                "type": "Expression"
              },
              "deleteFilesAfterCompletion": false
            },
            "datasetSettings": {
              "type": "Binary",
              "typeProperties": {
                "location": {
                  "type": "SftpLocation"
                }
              },
              "externalReferences": {
                "connection": "1a8439c4-a50b-4ef5-82d2-d150be2f91f7"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "BinarySink",
            "storeSettings": {
              "type": "LakehouseWriteSettings",
              "copyBehavior": "PreserveHierarchy"
            },
            "datasetSettings": {
              "type": "Binary",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@json(string(pipeline().parameters.TargetSettings)).directory",
                    "type": "Expression"
                  }
                }
              },
              "linkedService": {
                "name": "2f74075b_60a1_45d9_a636_9dd9425856cf",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "@if(contains(pipeline().parameters.TargetConnectionSettings,'lakehouseId'),json(string(pipeline().parameters.TargetConnectionSettings)).workspaceId,activity('Get Env Variables').output.pipelineReturnValue.LakehouseID)",
                    "workspaceId": "@if(contains(pipeline().parameters.TargetConnectionSettings,'worspaceId'),json(string(pipeline().parameters.TargetConnectionSettings)).workspaceId,pipeline().DataFactory)",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy-SFTP-Prodata",
        "dependsOn": [
          {
            "activity": "Get Env Variables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ExecutePipeline",
        "typeProperties": {
          "pipeline": {
            "referenceName": "0b161fb6-be93-ad8e-48c7-d3f479d6132a",
            "type": "PipelineReference"
          },
          "parameters": {},
          "waitOnCompletion": true
        },
        "policy": {
          "secureInput": false
        },
        "name": "Get Env Variables",
        "dependsOn": []
      }
    ],
    "parameters": {
      "SourceSettings": {
        "type": "string",
        "defaultValue": {
          "directory": "/aw/",
          "file": "*.*"
        }
      },
      "TargetSettings": {
        "type": "string",
        "defaultValue": {
          "directory": "landing/AdventureWorks/erp"
        }
      },
      "SourceConnectionSettings": {
        "type": "string",
        "defaultValue": {}
      },
      "TargetConnectionSettings": {
        "type": "string",
        "defaultValue": {}
      },
      "ActivitySettings": {
        "type": "string"
      },
      "LineageKey": {
        "type": "string"
      }
    }
  }
}