Restore_ConfigSchema.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('usp_GetTables').output.resultsets[0].rows",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "ParquetSource",
                  "storeSettings": {
                    "type": "LakehouseReadSettings",
                    "recursive": true,
                    "enablePartitionDiscovery": false
                  },
                  "formatSettings": {
                    "type": "ParquetReadSettings"
                  },
                  "datasetSettings": {
                    "type": "Parquet",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "backup/config/@{pipeline().parameters.Date}",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "@concat(item().name,'.parquet')",
                          "type": "Expression"
                        }
                      },
                      "compressionCodec": "snappy"
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "FabricLH",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "f2f9c5fa-ca0c-41b2-b0e1-3028165b4f6c",
                          "workspaceId": "9b8a6500-5ccb-49a9-885b-b5b081efed75",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "FabricSqlDatabaseSink",
                  "sqlWriterUseTableLock": false,
                  "writeBehavior": "insert",
                  "datasetSettings": {
                    "type": "FabricSqlDatabaseTable",
                    "typeProperties": {
                      "schema": "config",
                      "table": {
                        "value": "@item().Name",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "connectionSettings": {
                      "name": "Meta",
                      "properties": {
                        "type": "FabricSqlDatabase",
                        "typeProperties": {
                          "artifactId": "fe70c606-af27-4f64-973a-2be877526212",
                          "workspaceId": "5941a6c0-8c98-4d79-b065-a3789e9e0960"
                        },
                        "externalReferences": {
                          "connection": "56f1cda4-3b81-4526-aee4-31c10fc04d19"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy Parquet-SQL",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach",
        "dependsOn": [
          {
            "activity": "usp_TruncateAll",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[config].[usp_TruncateAll]"
        },
        "linkedService": {
          "name": "61a95640_fb75_4b93_b711_d1145494d302",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "@activity('Get Env Variables').output.pipelineReturnValue.MetaDatabaseName",
              "endpoint": "@activity('Get Env Variables').output.pipelineReturnValue.MetaServerName",
              "workspaceId": "@activity('Get Env Variables').output.pipelineReturnValue.WorkspaceID"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "usp_TruncateAll",
        "dependsOn": [
          {
            "activity": "usp_GetTables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ExecutePipeline",
        "typeProperties": {
          "pipeline": {
            "referenceName": "0b161fb6-be93-ad8e-48c7-d3f479d6132a",
            "type": "PipelineReference"
          },
          "parameters": {},
          "waitOnCompletion": true
        },
        "policy": {
          "secureInput": false
        },
        "name": "Get Env Variables",
        "dependsOn": []
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "[config].[usp_GetTables]",
                "type": "Expression"
              },
              "type": "Query"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedService": {
          "name": "aa5930ba_fb93_4812_a809_15adffc84bed",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "@activity('Get Env Variables').output.pipelineReturnValue.MetaDatabaseName",
              "endpoint": "@activity('Get Env Variables').output.pipelineReturnValue.MetaServerName",
              "workspaceId": "@activity('Get Env Variables').output.pipelineReturnValue.WorkspaceID"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "usp_GetTables",
        "dependsOn": [
          {
            "activity": "Get Env Variables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "Date": {
        "type": "string",
        "defaultValue": "20250217"
      }
    }
  }
}