Workspaces/DWA/DWA/Config/Backup_ConfigSchema.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": false,
          "items": {
            "value": "@activity('Lookup Config table names').output.resultsets[0].rows\n",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "DataWarehouseSource",
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00",
                  "datasetSettings": {
                    "type": "DataWarehouseTable",
                    "typeProperties": {
                      "schema": "config",
                      "table": {
                        "value": "@item().Name",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "bb48be97_1dfb_4a28_93fa_e708931886cd",
                      "properties": {
                        "type": "DataWarehouse",
                        "typeProperties": {
                          "artifactId": "@activity('Get Env Variables').output.pipelineReturnValue.MetaDatabaseName",
                          "endpoint": "@activity('Get Env Variables').output.pipelineReturnValue.MetaServerName",
                          "workspaceId": "@activity('Get Env Variables').output.pipelineReturnValue.WorkspaceID"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "ParquetSink",
                  "formatSettings": {
                    "type": "ParquetWriteSettings",
                    "enableVertiParquet": true
                  },
                  "storeSettings": {
                    "type": "LakehouseWriteSettings"
                  },
                  "datasetSettings": {
                    "type": "Parquet",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "backup/config/@{formatDateTime(utcnow(),'yyyyMMdd')}",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "@{concat(item().Name,'.parquet')}",
                          "type": "Expression"
                        }
                      },
                      "compressionCodec": "snappy"
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "3d901a1c_e6e9_44fa_8e61_001dd45abc09",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "@activity('Get Env Variables').output.pipelineReturnValue.LakehouseID",
                          "workspaceId": "@activity('Get Env Variables').output.pipelineReturnValue.WorkspaceID",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy Config File",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach Config Table",
        "dependsOn": [
          {
            "activity": "Lookup Config table names",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ExecutePipeline",
        "typeProperties": {
          "pipeline": {
            "referenceName": "0b161fb6-be93-ad8e-48c7-d3f479d6132a",
            "type": "PipelineReference"
          },
          "parameters": {},
          "waitOnCompletion": true
        },
        "policy": {
          "secureInput": false
        },
        "name": "Get Env Variables",
        "dependsOn": []
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "config.usp_GetTables",
                "type": "Expression"
              },
              "type": "Query"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedService": {
          "name": "ac8a5271_078c_4edc_bf36_311f427b4516",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "@activity('Get Env Variables').output.pipelineReturnValue.MetaDatabaseName",
              "endpoint": "@activity('Get Env Variables').output.pipelineReturnValue.MetaServerName",
              "workspaceId": "@activity('Get Env Variables').output.pipelineReturnValue.WorkspaceID"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup Config table names",
        "dependsOn": [
          {
            "activity": "Get Env Variables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}