Workspaces/DWA/DWA/Config/Backup_ConfigSchema.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": false,
          "items": {
            "value": "@activity('Lookup Config table names').output.resultsets[0].rows\n",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "FabricSqlDatabaseSource",
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00",
                  "datasetSettings": {
                    "type": "FabricSqlDatabaseTable",
                    "typeProperties": {
                      "schema": "config",
                      "table": "@item().name"
                    },
                    "schema": [],
                    "connectionSettings": {
                      "name": "Meta",
                      "properties": {
                        "type": "FabricSqlDatabase",
                        "typeProperties": {
                          "artifactId": "fe70c606-af27-4f64-973a-2be877526212",
                          "workspaceId": "5941a6c0-8c98-4d79-b065-a3789e9e0960"
                        },
                        "externalReferences": {
                          "connection": "56f1cda4-3b81-4526-aee4-31c10fc04d19"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "DelimitedTextSink",
                  "formatSettings": {
                    "type": "DelimitedTextWriteSettings",
                    "quoteAllText": true,
                    "fileExtension": ".txt"
                  },
                  "storeSettings": {
                    "type": "LakehouseWriteSettings"
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "backup/config/@{formatDateTime(utcnow(),'yyyyMMdd')}",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "@{concat(item().Name,'.parquet')}",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "LH",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "54a6a75f-8983-ae4c-406d-59d7d58f4f2d",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy Config File",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach Config Table",
        "dependsOn": [
          {
            "activity": "Lookup Config table names",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ExecutePipeline",
        "typeProperties": {
          "pipeline": {
            "referenceName": "0b161fb6-be93-ad8e-48c7-d3f479d6132a",
            "type": "PipelineReference"
          },
          "parameters": {},
          "waitOnCompletion": true
        },
        "policy": {
          "secureInput": false
        },
        "name": "Get Env Variables",
        "dependsOn": []
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "config.usp_GetTables",
                "type": "Expression"
              },
              "type": "Query"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedService": {
          "name": "cfdc1165_b6ab_4247_a609_a2ecaa5d128b",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "@activity('Get Env Variables').output.pipelineReturnValue.MetaDatabaseName",
              "endpoint": "@activity('Get Env Variables').output.pipelineReturnValue.MetaServerName",
              "workspaceId": "@activity('Get Env Variables').output.pipelineReturnValue.WorkspaceID"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup Config table names",
        "dependsOn": [
          {
            "activity": "Get Env Variables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}